.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 40px;
    position: relative;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin-left: 5px;
    width: 60px;
}

.hd {
    font-size: 25px;
    font-weight: 700;
    color: #49557e;
    margin-right: 80%;
    text-align: center;
    /* flex-grow: 1; */
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    
}

.navbar-menu li {
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-menu li:hover {
    color: #f7a308;
}

.navbar-menu .active {
    border-bottom: 2px solid #f7a308;
    color: #f7a308;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icon {
    width: 30px;
}

.cart-icon {
    margin-top: 8px;
    width: 40px;
    margin-right: 30px;


    
    
}


.navbar .btn {
    background-color: #f7a308;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar .btn:hover {
    background-color: #d58a06;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 80px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 30px;
    }

    .navbar-icon {
        width: 22px;
    }

    .navbar .btn {
        padding: 8px 25px;
    }
}


@media (max-width: 950px) {
    .navbar .logo {
        width: 40px;
    }

    .navbar-menu {
        gap: 10px;
        font-size: 12px;
        margin-left: -2px;
    }
    .navbar-right {
        gap: 5px;
    }

    .navbar-icon {
        width: 20px;
    }

    .navbar .btn {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
    .navbar-right {
        gap: 20px;
    }

    .navbar-icon {
        width: 20px;
    }

    .navbar .btn {
        font-size: 15px;
    }
}




/* search result and input css */

.search-input {
    padding: 5px;
    margin-left: 10px;
  }
  
  .search-results {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .search-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .search-item p {
    margin: 0;
  }
  