.food_item {
  width: 100%;
  max-width: 300px; /* Increased max-width for a wider look */
  margin: 20px auto; /* Increased margin for better spacing */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: white; 
}

.image_container{
  position: relative;
}

.item_image {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.food_description {
  padding: 15px;  
}

.food_description p {
  font-size: 18px; 
  margin-bottom: 5px; 
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #676767;
  font-size: 12px;
}

.item_price {
  color: tomato;
  font-size: 18px; /* Reduced font size for better balance */
  font-weight: 600; /* Increased font weight for emphasis */
  margin-top: 10px; /* Added margin to separate from the description */
}

.food_item .add {
  width: 30px; /* Increased button size for better clickability */
  height: 30px; /* Ensured button has equal width and height */
  position: relative;
  bottom: 10px; 
  right: 10px; 
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.item_counter {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  gap: 5px; 
  padding: 5px; 
  border-radius: 25px;
  background-color: white;
}
.addcart {
  width: 25px; /* Set the desired width for the add icon */
  height: 25px; /* Set the desired height for the add icon */
  position: absolute;
  bottom: 10px; /* Adjusted bottom spacing */
  right: 10px; /* Adjusted right spacing */
  cursor: pointer;
  border-radius: 50%;
  background-color: yellow; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}
